@import 'variables';

html {
    scroll-behavior: smooth;
}

.scroll1 {
    position: fixed;
    top: 0;
    z-index: 10000;
    width: 100%;
    height: 5px;
    background-color: $colorGris;
}

.scroll2 {
    position: fixed;
    top: 0;
    z-index: 10000;
    height: 5px;
    background-color: $colorAzul;
}

#btn-top{
    width: 25px;
    height: 25px;
    background: $colorGris;
    cursor: pointer;
    position: fixed;
    bottom: 60px;
    right: 20px;
    z-index: 1;
    border-radius: 50%;
    transform: translateY(200%);
    transition: all 0.5s;
}

#btn-top.show{
    transform: translateY(0);
}

#btn-top span{
    color: #fff;
    font-size: 12.5px;
    width: 100%;
    text-align: center;
    line-height: 25px;
    transition: all 0.5s;
}

#btn-top:hover{
    background: $colorAzul;
}

.error {
    border: 1px solid red !important;
}

.modal {
    display: none;
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .conversor {
    margin: 0 auto;
    display: block;
    padding: 5px;
    margin-top: 10px;
  }

  .imgSlider {
    width: 100%;
    height: 60vh;
    position: relative;
  }

  .containerSlider {
    width: 80vw;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .imagesSlider img {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .btnsSlider span {
    font-size: 40px;
    padding: 5px;
    color: white;
    opacity: 0.5;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 2px;
    cursor: pointer;
    position: absolute;
    top: 40%;
    z-index: 10;
    transition: 0.5s;
  }

  .btnsSlider span:nth-child(1) {
    left: 10px;
  }
  .btnsSlider span:nth-child(2) {
    right: 10px;
  }

  .btnsSlider span:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }

  .dotsSlider {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }

  .dot {
    display: inline-block;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
  }

  .dot:hover, .activated {
    background-color: rgba(255, 255, 255, 0.4);
  }

  .fade {
    animation: fade 1s;
  }

  @keyframes fade {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 1;
    }
  }

@media only screen and (min-width: 1000px) {
    #btn-top {
        width: 50px;
        height: 50px;
    }

    #btn-top span{
        font-size: 25px;
        line-height: 50px;
    }
}