$fontFamilyTitulos: 'Raleway';
$fontFamilyTextos: 'Open Sans';
$colorAzul: #08A6E4;
$colorNegro: #000000;
$colorGris: #A5A5A5;
$colorBlanco: #FFFFFF;
$colorRosa: #FB3B64;
$colorAzul: #08A6E4;
$colorVerde: #55DFB4;