/* COMANDO SASS
sass --watch SCSS/style.scss CSS/style.css
*/

@import "variables";
@import "header";
@import "footer";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
}